---
import config from "@/config/config.json";
import { Image } from "astro:assets";

const {
  call_to_action: {
    title,
    title2,
    description,
    button: { label, link },
  },
} = config;
---
<!-- dood banner -->
<section class="px-5 py-20 xl:py-[120px]">
  <div class="container">
    <div
      class="bg-gradient row justify-center rounded-b-[80px] rounded-t-[20px] px-[30px] pb-[75px] pt-16"
    >
      <div class="lg:col-11">
        <div class="row">
          <div class="lg:col-7">
            <h2 class="h1 text-white">{title}</h2>
            <h2 class="h3 text-white">{title2}</h2>
            <a class="btn btn-white mt-8" href={link}>{label}</a>
          </div>
          <div class="mt-8 lg:col-5 lg:mt-0">
            <!-- <p class="text-white">
              {description} 
            </p> -->
            <div class="section key-feature relative">
              <Image
              class="absolute xl:-top-14 lg:-top-14 md:-top-22 sm:-top-28 sm:right-2 xs:-top-20"
              src="/images/enroll-1.png"
              height={420}
              width={364}
              alt=""
            />
            </div>
            
          </div>
        </div>
      </div>
    </div>
  </div>
</section>
